/* this is a global html and css setting and it also include pseudo elements */
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-bg);
    color: var(--color-text)
}