@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;500;600;800&display=swap');

:root{
    --font-family: 'Mukta', sans-serif;

    /* font bold property */
    --font-bold: 500;
    --font-bold2: 600;
    --font-bold3: 800;

    --screen-max-width: 70rem;

    --color-bg: #040C18;
    --color-footer: #031B34;
    --color-blog: #042C54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
}